 <section class="solutions" id="solucoes">
    <div id="solutions_desktop" class="solutions_box">
      <div class="padding">
         <h3>Software de caixa</h2>      
        <ul>
          <li><span><strong>Gestão de Vendas :</strong> Controle todas as transações de vendas em tempo real, com relatórios detalhados que auxiliam na tomada de decisões estratégicas.</span></li>
          <li><span><strong>Relatórios e Análises :</strong> Geração de relatórios financeiros completos, facilitando a análise de desempenho e a gestão de fluxo de caixa.</span></li>
          <li><span><strong>Segurança e Confiabilidade : </strong>Garantimos a segurança dos dados de seus clientes e das transações com criptografia avançada.</span></li>
          <li><span><strong>Pedidos no Balcão: </strong>Agilize o atendimento aos clientes que fazem pedidos diretamente no balcão</span></li>
          <li><span><strong>Pedidos para Delivery :</strong> Registre informações fornecidas do pedido, incluindo endereço de entrega e preferências do cliente.</span></li>
        </ul>
      </div>
      <div class="desktop_wrapper">
        <div class="desktop_print">
          <img src="/assets/desktop_frente.jpeg" alt="print do aplicativo desktop" class="desktop_print">
        </div>
      </div>
    </div>

    <div class="mobile_box solutions_box" id="solutions_mobile">
      <aside>
        <h3>Aplicativos para Garçom</h2>
        <ul>
           <li><span><strong>Pedidos Rápidos e Precisos :</strong> Os garços podem anotar pedidos diretamente no aplicativo, que são enviados imediatamente para a cozinha e o bar, diminuindo erros e temp’os de espera.</span></li>
           <li><span><strong>Gestão de Mesas :</strong> Visualize o status de todas as mesas em tempo real, facilitando a organização do salão e a alocação de clientes.</span></li>
           <li><span><strong>Comunicação Eficiente :</strong> Melhore a comunicação entre a equipe de atendimento e a cozinha, garantindo que os pedidos sejam preparados e servidos com rapidez e precisão.</span></li>
        </ul>
      </aside>
      <div class="mobile_print" >
        <img src="/assets/mobile_mesas.png" alt="print do aplicativo mobile para garçons">
      </div>
    </div>
</section>

<script>
  const sectionDesktop = document.getElementById('solutions_desktop');
  const sectionMobile = document.getElementById('solutions_mobile');

  function validateScroll() {
    const boundingDesktop = sectionDesktop?.getBoundingClientRect();
    const boundingMobile = sectionMobile?.getBoundingClientRect();
    const height = window.innerHeight;
    
    if (!boundingDesktop || !boundingMobile) return;

    
    
    if (boundingDesktop?.top < height) {
      sectionDesktop?.classList.add('active')
    }
    if (boundingMobile?.top < height) {
      sectionMobile?.classList.add('active')
    }
  }
  window.addEventListener('scroll', validateScroll)
  validateScroll()
</script>

<style>
  .solutions {
    margin-top: 1rem;
    overflow: hidden;

    ul {
      margin: 0.5rem 0;
      max-width: 90%;
      margin-left: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    li {
      margin-bottom: 0.25rem;
    }
    span {
      font-weight: 300;
    }

    .desktop_print {
      height: 29rem;
      overflow: hidden;
      box-shadow: 0 0 3px 0px #fff, 4px 4px 4px 0 rgba(0,0,0,0.5);
      transform: translateY(-100%);

      img {
        object-fit: cover;
        object-position: 0 -16px;
        max-width: 100%;
        width: 100%;
      }

    }

    .desktop_wrapper {
      padding: 1rem;
      overflow: hidden;
    }
    
    .mobile_print {
      transform: translateX(100%) rotate(45deg);
      transform-origin: right bottom;
    }

    .mobile_box {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;
      align-items:center;
    }

    .solutions_box h3, ul {
      opacity: 0;
    }

    .solutions_box.active h3{
      animation: 1s textFade forwards;
      animation-delay: 400ms;
    }

    .solutions_box.active ul{
      animation: 1s textFade forwards;
      animation-delay: 700ms;
    }

    .solutions_box.active .desktop_print {
      animation: 1.5s desktopFade forwards,desktopAnimation 15s ease-in-out infinite;
      animation-delay: 800ms;
    }

    .solutions_box.active .mobile_print {
      animation: 1.2s mobileFade forwards;
      animation-delay: 800ms;
    }

  }

  .padding {
    padding: 0 0.75rem;
  }

  @media (max-width: 900px) {
    .solutions .desktop_print {
      height: 27rem;
    }

    .mobile_box {
      gap: 0.5rem;
      flex-direction: column;
      padding: 0 0.75rem;
    }

    .mobile_print img {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .solutions {
      .desktop_print {
        height: 22rem;
      }

      h3 {
        font-size: 1.25rem;
      }
    }
  }

  @keyframes desktopAnimation {
    0% {
      object-position: 0 -16px;
    }

    50% {
      object-position: 100% -16px;
    }

    100% {
      object-position: 0 -16px;
    }
  }

  @keyframes textFade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes desktopFade {
    from {
      transform: translateY(-100%)
    }

    to {
      transform: translateY(0)
    }
  }

  @keyframes mobileFade {
    from {
      transform: translateX(100%) rotate(45deg);
    }

    to {
      transform: translateX(0) rotate(0);
    }
  }
</style>
